@import '../mixins/mixin';

html {
    box-sizing: border-box;
}

*, *::before, *::after {
    box-sizing: inherit;
}

body {
    height: 100vh;
    margin: 0;
    padding: 0;

    border: 0;
    background-color: $BodyBackground;

    font-weight: 500;
    font-style: normal;
}



.root {
    position: relative;

    width: 100%;
    height: 100%;

    text-align: center;
}

.content {
    position: relative;

    display: inline-block;

    width: initial;
}
